# ----------------- Back-end ----------------- 
/back-end/target/
.env
/back-end/tests/images/author/*
/back-end/tests/images/publisher/*

# ----------------- Front-end -----------------
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/front-end/.svelte-kit
/front-end/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


# ----------------- Antigo front em React (remover depois) ----------------- 
_front-end_react
_front-end_vue